#container {
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

#container:hover {
  transition: transform 0.25s ease-in-out;
  padding: 10px;
  background: white;

  transition-delay: 5s;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 15px 30px rgba(0, 0, 0, 0.2);
}

.menu {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: linear-gradient(to right, rgb(235, 253, 134), rgb(255, 255, 104));
}
.menu button {
  padding: 0.5rem 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  transition-property: background-color;
  transition-delay: 1s;
  height: 45px;
  width: 130px;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  transition-property: background-color;
  height: 45px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a:hover {
  background-color: var(--color-background3);
  border: 2px solid var(--bouton-border2);
}

.menu button:hover {
  background-color: var(--color-background3);
  border: 2px solid var(--bouton-border2);
}

#contenu {
  overflow-y: scroll;
  height: 100%;
  width: 85%;
}

.Acceuil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Acceuil div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}