* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*couleur background*/
    --color-background1: #DBDA4D;
    --color-background2: #ffff01;
    --color-background3: #e0e0e0;
    --color-background4: #000000;

    /*couleur secondaire*/
    --color-secondaire1: #FFF23D;

    /*couleur titre*/
    --couleur-titre1: #ffee00;
    --couleur-titre2: #ffffff;
    --couleur-titre3: #000000;

    /*couleur sous-titre*/

    /*couleur Bouton*/
    --bouton-border1: #ffb700;
    --bouton-border2: #ffffff;
    --bouton-border3: #000000;

    /*couleur lien*/
    --couleur-lien1: #000000;
    --couleur-lien2: #ffffffff;
    --couleur-lien3: #FFB501;
}

@keyframes back {
    0% {
        background-image: url("../Img/img_bg/img background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background-image: url("../Img/img_bg/img_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@keyframes caro {
    0% {
        background-image: url("../Img/img/360_F_45942138_ciHKFyQMPZOTHTAgIoHUlaFU7YMIpi2I.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    20% {
        background-image: url("../Img/img/AdobeStock_547302931-scaled.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;

    }

    40% {
        background-image: url("../Img/img/apc-organisation-wcloud-compta.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;

    }

    60% {
        background-image: url("../Img/img/depannage-informatique-item-6-1024x523-1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    80% {
        background-image: url("../Img/img/fourniture-de-bureau-tunisie.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;

    }

    100% {
        background-image: url("../Img/img/QHSE-FRENCH-480x340.jpg.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
}

@keyframes ruban_pub {
    20% {
        transform: translateX(20%);
    }

    50% {
        transform: translateX(30%);
    } 
}

html{
    scroll-behavior: smooth;
}

/* header */
/*nav-bar*/
.flouter {
    animation: back 65s infinite;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.section_navbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.30);
}

.section_navbar .Partie_logo .sous_class_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_navbar .Partie_logo .contacter {
    padding: 0.5rem 1.2rem;
    border: 5px solid white;
    border-radius: 5px;
    transition-property: background-color;
    transition: all 0.3s ease;
    background-color: rgb(175, 173, 173);
}

.section_navbar .Partie_logo .contacter:hover {
    background-color: var(--color-background3);
    border: 5px solid white;
    transform: scale(1.01);
    box-shadow:
        0 5px 10px rgb(255, 251, 0),
        0 5px 10px rgb(255, 251, 0);
    cursor: pointer;
}

.section_navbar .contacter:hover a {
    color: var(--couleur-lien1);
}

.section_navbar .contacter a {
    color: var(--couleur-lien2);
    text-decoration: none;
}

#sous_class_contact i {
    font-size: 30px;
}

#sous_class_contact div {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: rgb(175, 173, 173);
    transition: 0.4s ease;
}

#sous_class_contact div:hover {
    background-color: white;

    transform: scale(1.1);
    box-shadow:
        0 5px 10px rgb(255, 251, 0),
        0 5px 10px rgb(255, 251, 0);
    cursor: pointer;
}

#sous_class_contact {
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_navbar .sous_class_logo h1 {
    color: var(--couleur-titre2);
    text-decoration: solid;
}

.section_navbar .sous_class_logo img {
    height: 100px;
}

.section_navbar .Partie_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.partie_navbar {
    height: 45px;
}

.partie_navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.partie_navbar nav li {
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.25s;
    padding: 5px;
}

.partie_navbar nav li:hover {
    background-color: rgb(255, 255, 0,0.3);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: none;
}

.partie_navbar ul a {
    list-style-type: none;
    text-decoration: none;
    color: var(--couleur-lien2);
    font-size: 1.5em;
    transition: 1s;
}

/*Partie Publicitaire*/
.section_pub {
    background-color: var(--color-background4);
    border-top: 4px solid yellow;
    border-bottom: 4px solid yellow;
    color: var(--couleur-titre2);
    width: 100%;
    padding: 5px;
}

.section_pub .ad-banner .ad-track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 20px;
    animation: ruban_pub 20s linear infinite;
}

/*carousel*/
#classeur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.classe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.defilements {
    height: 500px;
    width: 100%;
    animation: caro 120s linear infinite 5s;
}

.rondeurs {
    height: 90px;
    width: 300px;
    border-radius: 80px;
    position: absolute;
    bottom: -50px;

    padding: 15px;
    background: white;
    color: var(--couleur-titre3);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 5px 10px rgba(0, 0, 0, 0.2);
}

.rondeurs h1 {
    font-size: 15px;
}

.rondeurs .liked {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*partenaires*/
.section_carousel {
    width: 100%;
    height: 100%;
    background-color: red;
}

.section_carousel .carousel-item img {
    width: 100%;
    height: 100%;
}

.carouselExampleSlidesOnly2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
}

.carouselExampleSlidesOnly2 div img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: none;
    border-radius: 15px;
}

#mem {
    height: 200px;
    width: 200px;
}

.memm {
    margin-top: 10px;
    width: 200px;
    height: 100px;
}

.carouselExampleSlidesOnly2 #lien {
    margin-bottom: 15px;
}

.carouselExampleSlidesOnly2 #lien h1 {
    font-size: 1.0rem;
    text-align: center;
}

.carouselExampleSlidesOnly2 .h1 h1 {
    font-size: 30px;
    color: rgb(250, 250, 148);
}

.carouselExampleSlidesOnly2 #lien .partenaires {
    display: flex;
    gap: 100px;
    align-items: center;
    padding-bottom: 20px;
}

.partenaires .float {
    padding: 15px;
    border-radius: 1px;
    background: white;
    text-decoration: none;
    color: var(--couleur-titre3);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 5px 10px rgba(0, 0, 0, 0.2);

    height: 300px;
    cursor: pointer;

    transition: 0.5s;
} 

.partenaires .float:hover {
    box-shadow:
        0 5px 10px rgb(255, 251, 0);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

/*repartitions des besoins*/
/*pub sur service*/
.section_service .sous_section_service .principal {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
}

.section_service .principal h1 {
    font-size: 20px;
}

.section_service .principal h2,
p {
    font-size: 20px;
    text-align: justify;
}

.section_service .principal button {
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--bouton-border1);
    border-radius: 5px;
    background-color: var(--color-background2);
    color: var(--couleur-titre3);
    text-decoration: none;
}

.section_service .principal a {
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--bouton-border1);
    border-radius: 5px;
    background-color: var(--color-background2);
    color: var(--couleur-titre3);
    text-decoration: none;
}

.section_service .principal a:hover {
    background-color: var(--color-background2);
    border: var(--bouton-border2);
}

.section_service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
}

.sous_section_service {
    transition: transform 0.25s ease-in-out;
    padding: 15px;
    border-radius: 10px;
    background: white;

    transition: 0.4s ease;

    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 15px 30px rgba(0, 0, 0, 0.2);
}

.sous_section_service:hover {
    transform: scale(1.05);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 25px 40px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.sous_section_service .haut,
.haut1 {
    height: 75%;
    width: 100%;
    color: var(--couleur-titre2);
    background-position: center;
    background-image: url("../Img/img_bg/programation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sous_section_service .haut2 {
    background-image: url("../Img/img_bg/programation.jpg");
}

.sous_section_service .haut3 {
    background-image: url("../Img/img_bg/programation.jpg");
}

.sous_section_service .haut5 {
    background-image: url("../Img/img_bg/programation.jpg");
}

.sous_section_service .haut6 {
    background-image: url("../Img/img_bg/programation.jpg");
}

.sous_section_service .haut7 {
    background-image: url("../Img/img_bg/programation.jpg");
}

.parie_publicitaire {
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* produits */
.produits .list_produits .part {
    height: 300px;
    width: 300px;
    border-radius: 15px;

        transition: transform 0.25s ease-in-out;
    padding: 15px;
    border-radius: 10px;
    background: white;

    transition: 0.4s ease;

    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 15px 30px rgba(0, 0, 0, 0.2);
}

.produits .list_produits .part:hover {
    transform: scale(1.05);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 25px 40px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.produits .list_produits .part .div {
    height: 200px;
    width: 100%;
}

.produits .list_produits .part .dav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.produits .dav a {
    padding: 0.5rem 1.2rem;
    border: 5px solid white;
    border-radius: 5px;
    transition-property: background-color;
    transition: all 0.3s ease;
    background-color: rgb(175, 173, 173);
    text-decoration: none;
    color: var(--couleur-lien1);
}

.produits .dav a:hover {
    background-color: var(--color-background3);
    border: 5px solid white;
    transform: scale(1.01);
    box-shadow:
        0 5px 10px rgb(255, 251, 0),
        0 5px 10px rgb(255, 251, 0);
    cursor: pointer;
}

.produits .dav h1 {
    font-size: 15px;
}

.produits .div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.produits .list_produits {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}


/* partie publicitaire */
.redirections {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.redirections .bg .hauteur {
    height: 200px;
    width: 300px;
}

.redirections .bg .p_bas {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 15px;
}

.redirections .p_bas h1,h2 {
    font-size: 15px;
}

.redirections .p_bas h2 {
    font-size: 15px;
}

.redirections .bg {
    height: 300px;
    width: 600px;
    padding: 15px;
    border-radius: 1px;
    background: white;
    text-decoration: none;
    color: var(--couleur-titre3);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 5px 10px rgba(3, 1, 1, 0.2);

    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.redirections .bg:hover{
    box-shadow:
        0 5px 10px rgb(255, 251, 0);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.redirections video { 
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.pub {
    height: 415px;
    width: 400px;
    padding: 15px;
    border-radius: 1px;
    background: white;
    text-decoration: none;
    color: var(--couleur-titre3);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 5px 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.pub:hover {
    box-shadow:
        0 5px 10px rgb(255, 251, 0);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}


.partie_recrutement .central {
    gap: 15px;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
#foot {
    background-image: linear-gradient(to right, rgb(235, 253, 134), rgb(255, 255, 104));
    margin-bottom: none;
}

footer {
    background-image: radial-gradient(circle at 99% 33%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 37%, transparent 37%, transparent 100%), radial-gradient(circle at 46% 16%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 43%, transparent 43%, transparent 100%), radial-gradient(circle at 99% 25%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 22%, transparent 22%, transparent 100%), radial-gradient(circle at 57% 88%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 86%, transparent 86%, transparent 100%), radial-gradient(circle at 82% 78%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 22%, transparent 22%, transparent 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    color: var(--couleur-titre2);
    height: 630px;
    padding: 15px;
}

.bouton_retour {
    color: var(--couleur-lien1);
    text-decoration: none;
}

.bouton_retour h1 {
    text-align: left;
    padding: 7px 0 7px 7px;
}

.footer_part2 {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    padding: 10px 10px 10px 10px;
}

.footer_part2 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_part2 form input {
    height: 50px;
    width: 350px;
}

.footer_part2 form button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    height: 50px;
    width: 150px;
    background-color: rgb(175, 173, 173);
    transition: 0.4s ease;
}

.footer_part2 form button:hover{
    background-color: white;

    box-shadow:
        0 5px 5px rgb(255, 251, 0),
        0 5px 5px rgb(255, 251, 0);
}

.footer_part2 ul {
    list-style-type: none;
}

.aigle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.aigle,
p {
    height: 60%;
    width: 60%; 
}

.aigle a,
h1 {
    color: var(--couleur-titre2);
    text-align: center;
    justify-content: center;
}

.footer_part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid white;
    width: 100%;
    padding: 10px 10px 20px 10px;
    gap: 20px;
}

.footer_part1 iframe {
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.4s ease;
    box-shadow:
        0 5px 10px rgba(255, 255, 255, 0.1),
        0 15px 30px rgba(255, 255, 255, 0.2);
}

.aigle iframe:hover {
    transform: scale(1.01);
    box-shadow:
        0 5px 10px rgb(187, 187, 177),
        0 5px 10px rgb(192, 192, 178);
    cursor: pointer;
    border-radius: 1px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex img {
    height: 100px;
}

footer h1 {
    font-size: 30px;
    color: rgb(250, 250, 148);
}

p {
    font-size: 1.0em;
}

footer a:hover {
    color: yellow;
}

footer a {
    text-decoration: none;
    color: var(--couleur-lien2);
}

body {
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
}